div.css-1r6slb0.e1tzin5v2{
    background-color: #EEEEEE;
    border: 1px solid #DCDCDC;
    padding: 20px 20px 20px 50px;
    border-radius: 10px;
}

/* Hide hamburger menu and footer */
div.css-r698ls.e8zbici2 {
    display: none;
  }
  
  footer.css-ipbk5a.egzxvld4 {
    display: none;
  }
  
  footer.css-12gp8ed.eknhn3m4 {
    display: none;
  }
  
  div.vg-tooltip-element {
    display: none;
  }